.mainContainerInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: fixed;
  top: 2rem;
}
.mainContainerInput input {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  min-width: 16rem;
  border: none;
  outline: none;
  padding: 0.3rem;
  font-size: 1rem;
}

.inputButton {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .mainContainerInput input {
    min-width: 1rem;
    font-size: 1.5rem;
  }
  .inputButton {
    font-size: 2rem;
  }
}