.mainContainer{
    margin-top: 5rem;
 h4{
    font-size: 2rem;
 }

}
.containerWithCity{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.containerwithDateAndCity{
    display: flex;
    flex-direction: column;
}
.iconWithDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.cityWithDateAndIconWithDescription{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}
.cityName{
    font-size: 3rem;
}

.weatherImage{
    width: 10rem;
    height: auto;
}
.weatherTemperature{
    font-size: 3rem;
}
.weatherTemperatureFeelsLike{
    font-size: 1.5rem;
}
.weatherText{
    font-size: 1.2rem;
    font-weight:500;
}
@media only screen and (max-width: 1024px) {
    .mainContainer{
        h4{
           font-size: 3rem;
        }

       
       }
      
       .cityWithDateAndIconWithDescription{
        
        min-width: 70vw;
    }
       .cityName{
           font-size: 3rem;
       }
       
       .weatherImage{
           width: 10rem;
           height: auto;
       }
       .weatherTemperature{
           font-size: 5rem;
       }
       .weatherTemperatureFeelsLike{
           font-size: 3rem;
       }
       .weatherText{
           font-size: 2rem;
           font-weight:500;
       } 
}
@media only screen and (max-width: 767px){
    .mainContainer{
        h4{
           font-size: 1rem;
        }
       
       }
      
       .cityWithDateAndIconWithDescription{
        
        min-width: 80vw;
    }
       .cityName{
           font-size: 2rem;
       }
       
       .weatherImage{
           width: 6rem;
           height: auto;
       }
       .weatherTemperature{
           font-size: 3rem;
       }
       .weatherTemperatureFeelsLike{
           font-size: 1.5rem;
       }
       .weatherText{
           font-size: 1rem;
           font-weight:500;
       } 
}